/*

Created by Sarfraz Shoukat (http://www.esarfraz.com) 
@ Greepit Labs with Muhammad Shahbaz Saleem (http://www.egrappler.com)

*/


@charset "utf-8";

/*----------------------------------
        Genral
--------------------------------- */

body {
	background:#f8f8f9;
	font-family: Helvetica, Arial, sans-serif;
	font:12px/18px;
	color:#000;
	font-weight:bold;
}
#wrapper {
	width:580px;
	
	margin:0 auto;
}
#content {
	margin-top:30px;
	background:#fff;
	padding:20px;
	border:1px solid #e8e8e9; 
}
#header { margin:0 auto; width:580px; text-align:center; margin-top:30px; }
.switcher {
	background:#f8f8f9;
	padding:10px;
	
}
h1 {
	font-size:25px;
	color:#545454;
}

.hidden{display:none;}
.imp{background-color:#ffd8d8; padding:8px 4px; font-size:12px;}

/*----------------------------------
        Form Controls
--------------------------------- */


.form-fields input[type="text"], .form-fields input[type="file"], .form-fields select {
	background:#fff;
	color:#6b7985;
	border:0px;
	border:none;
	font-size:11px;
	line-height:30px;
	height:30px;
	padding:5px;
	width:520px;
	font-weight:bold;
	border:1px solid #b7b9ba;
	outline:0;
	
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */

}

.form-fields select{height:30px; width:530px;}
textarea {
	background:#fff;
	color:#6b7985;
	border:0px;
	border:none;
	font-size:11px;
	line-height:20px;
	padding:5px;
	width:520px;
	border:1px solid #b7b9ba;
	outline:0;
	
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
}

.form-fields input[type="text"]:focus, textarea:focus {
	background-color:#f8f8f9;
	border:1px solid #9fa2a4;
}
select {
	padding:5px;
	font-weight:bold;
	width:100%; 
}


/*----------------------------------
        Form Controls
--------------------------------- */


.large {
	font-size:14px;
	padding:8px 19px 9px;
	font-weight:bold;
}

.button {
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
background:#222222 url(button-images/button-overlay.png) repeat-x;
border:1px solid rgba(0, 0, 0, 0.25);
color:#FFFFFF !important;
cursor:pointer;
display:inline-block;
font-size:11px;
font-weight:normal;
line-height:1;
overflow:visible;
padding:5px 15px 6px;
position:relative;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
width:auto;
text-align:center;
}
.button:hover {
background:#111111;
color:#FFFFFF;
}
.button:active {
background:#242424;
}


.green {
	background-color: #69a74e;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75ae5c), to(#67a54b));
    background-image: -moz-linear-gradient(#75ae5c, #67a54b);
    background-image: -o-linear-gradient(#75ae5c, #67a54b);
    background-image: linear-gradient(#75ae5c, #67a54b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c', EndColorStr='#67a54b'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
}

.green:hover {
background-color:#61944B;
}
.green:active {
background-color:#61944B;
}

.email-address.valid
{
	background-color:#c9f279 !important;
}
.email-address.invalid
{
	background-color:#ff8888 !important;
}
.required
{
//background-image:url('');
}
