/*base styles*/
body{
	text-align:center;
	font-family:simSun,arial;
	margin:0;
	padding:0;
	background:#FFF;
	font-size:12px;
	color:#333;
}
div,form,p,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	border:0;
}
ul,ol,li {list-style-type:none;}
table,td,tr,th,input,select{font-size:12px;}
input {font-family:Arial;}
table{border-collapse:collapse;}
hr {
	clear:both;
	border-width:0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #FFF;
	height:2px;
	overflow:hidden;
}
i {font-size:14px;color:red;font-style:normal;margin:0 5px;}

/*link*/

a:link {color:#0163d2;text-decoration:none;font-family:Arial;}
a:visited {color:#0163d2;text-decoration:none;font-family:Arial;}
a:hover {color:#bc2931;text-decoration:underline;}
a:active {color:#bc2931;}
/*font*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.fb{font-weight:800;}
.fl{float:left;}
.fr{float:right;}

.red {color:#e92701;}
.orange{color:#ff6105;}
.black {color:#000;}
.blue {color:#005fcb;}
.gray{color:#bbb;}
.white{color:#fff;}
.clear {zoom:1;}
.clear:after {content:'';display:block;clear:both;height:0px;}
/*foot styles*/
#botlink {
	height:40px;
	line-height:40px;
	border-top:1px solid #ccc;
	margin-top:20px;
}
#copyright {
	padding-bottom:35px;
	line-height:20px;
	color:#666;
}
#copyright a:link,#copyright a:visited {color:#666;}

#header,#main{
	width:960px;
	overflow:hidden;
	margin:0 auto;
}
#header{height:68px;overflow:hidden;margin-bottom:6px;}
#logo{
	height:58px;
	padding:8px 0;
	overflow:hidden;
	float:left;
}
#logo img{
	float:left;
}
#logo h1{
	display:inline;
	font:26px Microsoft YaHei;
	line-height:75px;
}
#header_search{
	width:478px;
	height:26px;
	padding:5px;
	overflow:hidden;
	background:url(../images/header_search.gif) 0 0 no-repeat;
	float:right;
	margin:25px 8px 0 0;
	display:inline;
	text-align:left;
	filter:alpha(opacity=75);
}
.search_txt{
	width:258px;
	height:14px;
	overflow:hidden;
	padding:5px 8px;
	border:1px solid #ccc;
	float:left;

}
.search_type{
	width:100px;
	height:24px;
	overflow:hidden;
	border:1px solid #ccc;
	float:left;
	font-weight:700;
	margin:0 5px;
	background:#fff;
}
.search_type span{
	width:90px;
	margin:4px 3px 3px 3px;
	*margin:3px 3px 3px 3px;
	height:17px;
	overflow:hidden;
	display:block;
	position:relative;
}
.search_type select{
	width:93px;
	height:19px;
	margin:-1px 0 0 -1px;
}
.gosearch{
	width:90px;
	height:26px;
	border:0 none;
	background:url(../images/gosearch.gif) 0 0 no-repeat;
	float:left;
	color:#733101;
	font-weight:700;
	font-size:14px;
	padding:0 0 0 12px;
	*padding:2px 0 0 12px;
	cursor:pointer;
}
#crumb{
	height:30px;
	line-height:20px;
	text-align:left;
}

#menu{
	width:162px;
	float:left;
	font-size:14px;
	line-height:30px;
	border-bottom:1px solid #c4deff;
	background:#fff;
}
#menu dl{
	width:160px;
	#overflow:hidden;
	border-left:1px solid #c4deff;
	border-right:1px solid #c4deff;
	padding:5px 0;
}
#menu dd{
	padding:0 20px 0 35px;
	text-align:left;
}
#menu dt{
	width:105px;
	overflow:hidden;
	padding:0 20px 0 35px;
	text-align:right;
	clear:both;
	background:url(../images/arrow_down.gif) 12px 12px no-repeat;
}
#menu dt strong{
	float:left;
}
#menu dt a:link,#menu dt a:visited{color:#333;}
#menu .menu_on{
	border:1px solid #61a8ff;
	padding:4px 0;
	background:#d5e6ff;
}
#menu .dd_on{
	width:169px;
	background:url(../images/dd_on.gif) 0 0 no-repeat;
	font-weight:700;
	position:relative;
	margin-left:-1px;
}
#menu .dd_on a:link,#menu .dd_on a:visited{color:#fff;}
#mycl_home {
	height:36px;
	line-height:38px;
	overflow:hidden;
	padding-left:10px;
	background:url(../images/mycl_home.gif) 0 0 no-repeat;
}
#mycl_home a:link,#mycl_home a:visited{color:#333;}
#content{
	width:777px;
	padding:10px;
	_height:550px;
	min-height:550px;
	border:1px solid #61a9fe;
	float:left;
	margin-left:-1px;
	background:#fff;
}


.bt{
	height:35px;
	line-height:35px;
	text-align:right;
	padding:0 10px;
	background:url(../images/line.gif) left bottom repeat-x;
}
.bt  strong{
	float:left;
	font-size:16px;
}
.tip{
	border:1px solid #feca7f;
	padding:6px 15px 4px 32px;
	background:url(../images/tip.gif) 11px 6px no-repeat #fffee2;
	text-align:left;
	margin:8px 0;
	line-height:18px;
}
.tool{
	height:32px;
	line-height:32px;
	padding:0 18px 0 10px;
	text-align:right;
	background:url(../images/tool.gif) 0 0 repeat-x;
}
.tool select{margin-top:5px;}
.table_form{
	width:100%;
	margin-top:5px;
}
.table_form td{
	border-bottom:1px solid #f0f0f0;
	height:30px;
	overflow:hidden;
	text-align:left;
	padding-left:8px;
}
.table_form td a:link,.table_form td a:visited{text-decoration:underline;}
.table_form th{
	height:30px;
	overflow:hidden;
	padding-left:8px;
	text-align:left;
	border-bottom:1px solid #b7d8ff;
	background:url(../images/th.gif) 0 0 repeat-x;
}

.tool_bottom{
	padding:12px 8px;
	text-align:right;
	border-top:1px solid #b7d8fb;
	margin-top:-1px;
	position:relative;
	line-height:25px;
	zoom:1;
}
.button{
	background:url(../images/button.gif) 0 0 no-repeat;
	width:65px;
	height:25px;
	border:0 none;
	color:#38464f;
	cursor:pointer;
}


.fb_form{
	cellpadding:0;
	cellspacing:0;
	text-align:left;
	width:100%;
}
.fb_form td{height:35px;}
.fb_form .tdr{
	width:110px;
	text-align:right;
	font-size:14px;
	padding-right:8px;
	vertical-align:top;
	line-height:35px;
}
.logo_td img{
	border:1px solid #ccc;
	display:block;
	margin:8px 0;
}
.file{height:21px;}
.text{
	border:1px solid #a5acb2;
	height:16px;
	padding:3px;
}
.textarea{
	border:1px solid #a5acb2;
	overflow:hidden;
	overflow-y:scroll;
	background:url(../images/logo_gray.jpg) center no-repeat;
}
.submit{
	padding:5px 30px;
	*padding:7px 15px 3px 15px;
	margin:10px 0;
	font-size:14px;
	cursor:pointer;
}
.fb_form .gray{line-height:30px;}

.photo_list{
	margin:10px auto;
	border-collapse:separate;
}
.photo_list td{
	width:190px;
	height:235px;
	border:1px solid #fff;
	vertical-align:bottom;
}
.photo_list img{
	display:block;
	border:1px solid #ccc;
	margin:1px auto;
	padding:3px;
	background:#fff;
}
.photo_list td span{
	display:block;
	height:45px;
	line-height:35px;
	font-size:14px;
}
.photo_list td span input{margin-top:5px;}
.photo_list td.on_photo{
	background:#edf5ff;
}
.photo_list td.on_photo img{
	border:2px solid #61a9fe;
	margin:0 auto;
}

#lightBox{
	width:100%;
	height:555px;
	position:absolute;
	background:#fff;
	left:0;
	top:0;
	-moz-opacity:0.85;
	filter:alpha(opacity=85);
	opacity:0.82;
	z-index:111;
	
}
.lightBox_wrap{
	width:450px;
	height:365px;
	background:#ccc;
	position:absolute;
	left:50%;
	top:0;
	z-index:1111;
	display:inline;
	margin:-180px 0 0 -225px;
}
.lightBox{
	width:450px;
	height:365px;
	border:1px solid #61a9fe;
	background:#fff;
	margin:-5px 0 0 -5px;
	*margin:-5px 0 0 -8px;
	position:relative;
}
.lightBox dt{
	background:#61a9fe;
	height:25px;
	color:#fff;
	padding:0 15px;
}
.lightBox dt strong{
	font-size:14px;
	float:left;
	line-height:25px;
}
#close{
	float:right;
	margin-top:4px;
	cursor:pointer;
}
.lightBox table{width:100%;height:300px;}
.edit{
	text-align:left;
	padding:6px;
}
.bt_input{
	width:250px;
	border:0 none;
}

.up_poto{
	width:100%;
	text-align:left;
}
.up_poto td{padding:10px 0 10px 10px;}
.up_poto img{border:1px solid #ccc;height:72px;}
.miaoshu{
	width:200px;
	height:50px;
	overflow:hidden;
	overflow-y:scroll;
}